/* src/less/styles.less */
body {
  font-size: 14px;
  padding: 10px;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
    padding: 30px;
  }
}
